.done {
    text-decoration: line-through;
    color: #d9d9d9 !important;
    transition: 300ms !important;
}

.active {
    display: block !important;
}

.error-msg {
    color: red;
    display: none;
    margin: 0;
    margin-top: 5px;
}

.MuiSelect-select {
    padding: 5px 0px 5px 8px !important;
}

.MuiList-root {
    background-color: #f3e5f5 !important;

    li {
        font-size: 14px !important;
        font-family: 'Poppins', sans-serif !important;
    }
}

.MuiInputBase-input {
    font-family: 'Poppins', sans-serif !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:invalid {
    border-color: red !important;
}

.Todo-field {
    width: 100%;
    height: fit-content;

    .Todo-list-area {
        max-width: 550px;
        height: fit-content;
        position: relative;
        margin: 0 auto;

        @media(max-width: 767px) {
            width: 80%;
        }
    }

    .Todo-list-items {
        margin-top: 5px;
        height: 350px;
        overflow-y: auto;
        border-radius: 5px;
        scroll-behavior: smooth;

        @media (max-width: 576px) {
            height: 300px;
        }
    }
}

.text-field>div {
    padding-left: 0 !important;
    border-color: red !important;

    &::after,
    &::before {
        background-color: red !important;
        border-color: red !important;
    }

    span>div {
        padding: -20px;
    }
}

::-webkit-scrollbar-track {
    background: #e1bee7;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(186, 104, 200, 1);
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar {
    width: 5px;
    margin-top: 24px;
}